$themes: (
        light: (
                primary-dark: #000000,
                primary-gray: #9FA3A6,
                primary-yellow: #FFC859,
                primary-green: #68CA44,
                primary-blue: #22b5e9,
                primary-white: #FFFFFF,
        ),
        dark: (
        ),
);

@mixin spread-theme-variables($theme: 'dark') {
  @each $color, $value in map-get($themes, $theme) {
    --#{$color}: #{$value};
  }
}

:root {
  @include spread-theme-variables('light');
}
