@use 'sass:map';
@use 'sass:color';
@import "styles/functions";
@import "styles/mixins";

$colors: (
        'primary': var(--primary-blue),
        'success': var(--primary-green),
        'error': var(--primary-red),
        'dark': var(--primary-dark),
        'white': var(--bg-color)
);

@mixin buttonColor($colorName) {
  $colorValue: map.get($colors, $colorName);
  $textColor: if($colorName == 'white', var(--primary-dark), white);
  $hoverBackgroundColor: if($colorName == 'dark', white, $colorValue);
  $hoverTextColor: if($colorName == 'dark', var(--primary-dark), $textColor);

  &.#{$colorName} {
    &.outlined,
    &.clear {
      color: $colorValue;
      border-color: $colorValue;

      &:hover {
        background-color: $hoverBackgroundColor;
        color: $hoverTextColor;
        border-color: $colorValue;
      }
    }
  }
}

@mixin buttonFill($colorName) {
  $colorValue: map.get($colors, $colorName);
  $textColor: if($colorName == 'white', var(--primary-dark), white);
  $hoverBackgroundColor: if($colorName == 'dark', white, var(--primary-dark));
  $hoverTextColor: if($colorName == 'dark', var(--primary-dark), white);

  &.#{$colorName} {
    &.fill {
      background-color: $colorValue;
      color: $textColor;

      &:hover {
        background-color: $hoverBackgroundColor;
        color: $hoverTextColor;
      }
    }
  }
}

.Button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  cursor: pointer;
  border: none;
  border-radius: 7px;
  font-weight: 500;
  transition:
          background-color 0.3s,
          color 0.3s,
          border-color 0.3s;
  @include padding(18px, 50px);
  font-family: var(--font-family-main);

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
    pointer-events: none;
  }

  &.small {
    @include padding(10px, 25px);
    font-size: var(--font-size-s);
    line-height: var(--line-height-s);
  }

  &.medium {
    @include padding(18px, 50px);
    font-size: var(--font-size-m);
    line-height: var(--line-height-m);
  }

  &.large {
    @include padding(26px, 70px);
    font-size: var(--font-size-l);
    line-height: var(--line-height-l);
  }

  &.outlined,
  &.clear,
  &.fill {
    background: none;
    outline: none;
    border: none;

    @each $name, $color in $colors {
      @include buttonColor($name);
      @include buttonFill($name);
    }
  }

  &.outlined {
    border: 2px solid transparent;
  }
}

.startIcon,
.endIcon {
  display: flex;
  align-items: center;
}