.typography {
    &.s {
        font: var(--font-s);
    }
    &.m {
        font: var(--font-m);
    }
    &.l {
        font: var(--font-l);
    }
    &.xxl {
        font: var(--font-xxl);
    }
    &.regular {
        font-weight: 400;
    }
    &.medium {
        font-weight: 500;
    }
    &.bold {
        font-weight: 700;
    }
    &.semibold {
        font-weight: 600;
    }
    &.primary {
        color: var(--primary-green);
    }
    &.dark {
        color: var(--primary-dark);
    }
    &.white {
      color: var(--primary-white);
    }
    &.gray {
        color: var(--primary-gray);
    }
}
